---
- name: Journaled usrquota
  block:

    - name: Move the aquota.user file if it exists to /root/aquota.user.bak
      ansible.builtin.command: "mv {{ quota_dir }}/aquota.user /root/aquota.user.bak"
      changed_when: true
      when: quota_aquota_users_file.stat.exists | bool

    - name: Manual intervention needed to upgrade ext2 to ext4
      ansible.builtin.fail:
        msg:
          - "Please manually unmount the {{ quota_dir }} directory (stop services that run from it, unmount things mounted on it etc) and then run:"
          - "tune2fs -O extents,uninit_bg,dir_index,has_journal {{ quota_device }}"
          - "e2fsck -pf {{ quota_device }}"
          - "Then edit the filesystem version in /etc/fstab and reboot the server and re-run this role."
      when: quota_device_fstype == "ext2"

    - name: Manual intervention needed to upgrade ext3 to ext4
      ansible.builtin.fail:
        msg:
          - "Please manually unmount the {{ quota_dir }} directory (stop services that run from it, unmount things mounted on it etc) and then run:"
          - "tune2fs -O extents,uninit_bg,dir_index {{ quota_device }}"
          - "e2fsck -pf {{ quota_device }}"
          - "Then edit the filesystem version in /etc/fstab and reboot the server and re-run this role."
      when: quota_device_fstype == "ext3"

    - name: Manual intervention needed to enable journaled usrquota
      ansible.builtin.fail:
        msg:
          - "Please manually unmount the {{ quota_dir }} directory (stop services that run from it, unmount things mounted on it etc) and then run:"
          - "tune2fs -O quota {{ quota_device }}"
          - "Then reboot the server and re-run this role and also re-run the tasks to set the quotas as they need resetting when switching from aquota to journald."
      when: ("quota" not in quota_device_features)

    - name: Debug exists device options
      ansible.builtin.debug:
        var: quota_device_options
        verbosity: 2

    - name: Set a fact for the list of required options in /etc/fstab
      ansible.builtin.set_fact:
        quota_device_journaled_options: "{{ quota_device_options | difference(quota_device_aquota_options_required) | join(',') }}"

    - name: Debug list of required options in /etc/fstab
      ansible.builtin.debug:
        var: quota_device_journaled_options
        verbosity: 2

    - name: Quota device remounted with required options
      ansible.posix.mount:
        path: "{{ quota_dir }}"
        src: "{{ quota_device }}"
        fstype: "{{ quota_device_fstype }}"
        opts: "{{ quota_device_journaled_options }}"
        state: present
      register: quota_journaled_fstab_updated

    - name: Reboot
      ansible.builtin.reboot:
        msg: "The server is being rebooted to ensure that the quota options are applied to {{ quota_device }}"
      when: (quota_journaled_fstab_updated is defined) and (quota_journaled_fstab_updated.changed | bool)

    - name: Include quota check tasks
      ansible.builtin.include_tasks: checks.yml

    - name: Quota enabled and running
      ansible.builtin.service:
        name: quota
        state: started

    - name: "Run quotaon {{ quota_dir }}"
      ansible.builtin.command: "quotaon {{ quota_dir }}"
      when: not quota_enabled
      register: quota_quotaon
      failed_when: >-
        ("Cannot find filesystem to check or filesystem not mounted with quota option" in quota_quotaon.stdout) or
        ("not found or has no quota enabled" in quota_quotaon.stdout)

    - name: Debug quotaon results
      ansible.builtin.debug:
        var: quota_quotaon
        verbosity: 2
      when: quota_quotaon is defined

    - name: Debug quotaon -p user expected result
      ansible,builtin.debug:
        var: quota_quotaon_print_user
        verbosity: 2

    - name: "Check that quota is enabled for {{ quota_dir }}"
      ansible.builtin.command: "quotaon -p {{ quota_dir }}"
      changed_when: false
      check_mode: false
      register: quota_quotaon_print
      failed_when: (quota_quotaon_print.rc is not regex('^0|2')) or (quota_quotaon_print.stdout_lines[1] != quota_quotaon_print_user)

    - name: Debug quotaon -p user result
      ansible,builtin.debug:
        var: quota_quotaon_print.stdout_lines[1]
        verbosity: 2

    - name: "Set the gracetimes for {{ quota_dir }}"
      ansible.builtin.command: "setquota -t {{ quota_grace_block }} {{ quota_grace_inode }} {{ quota_dir }}"
      when:
        - quota_quotaon is defined
        - ((quota_existing_grace_block | int) != (quota_grace_block | int)) or ((quota_existing_grace_inode | int) != (quota_grace_inode | int))

    - name: Quota warning config in place
      ansible.builtin.template:
        src: warnquota.conf.j2
        dest: /etc/warnquota.conf
        owner: root
        group: root
        mode: 0644

    - name: Quota warning defaults in place
      ansible.builtin.template:
        src: quota.j2
        dest: /etc/default/quota
        owner: root
        group: root
        mode: 0644

    - name: Warn that a reboot might be needed
      ansible.builtin.debug:
        msg: "You might need to reboot this server before the disk quotas are applied"
      when: not quota_enabled

  tags:
    - quota
    - quota_journald
...
