#!/usr/bin/env bash

# {{ ansible_managed }}

set -euo pipefail

findmnt=$(type -P findmnt2 || echo "absent")
jo=$(type -P jo || echo "absent")

if [[ "${findmnt}" != "absent" ]]; then
  "${findmnt}" -J
else
  if [[ "${jo}" != "absent" ]]; then
    "${jo}" state=absent
  else
    echo '{"state":"absent"}'
  fi
fi
