#!/usr/bin/bash

# {{ ansible_managed }}

set -euo pipefail

QUOTATOOL="{{ quota_quotatool }}"

if [[ -f "${REPQUOTA}" ]]; then

  BLOCK_GRACE=$("${QUOTATOOL}" -v -n -u -b -t "{{ quota_grace_block }}" {{ quota_dir | quote }} 2>&1 | tail -n1 | awk '{ print $4 }')
  INODE_GRACE=$("${QUOTATOOL}" -v -n -u -i -t "{{ quota_grace_inode }}" {{ quota_dir | quote }} 2>&1 | tail -n1 | awk '{ print $4 }')

  jo state=present block_grace="${BLOCK_GRACE}" inode_grace="${INODE_GRACE}"

else
  jo state=absent
fi
