#!/usr/bin/env bash

# {{ ansible_managed }}

set -euo pipefail

quotacheck=$(quota -f {{ quota_dir | quote }} > /dev/null && echo "pass" || echo "fail")
quotatool="{{ quota_quotatool }}"

if [[ "${quotacheck}" == "pass" && -f "${quotatool}" ]]; then
  # quotatool uses -n for dry run so the value isn't changed and only the old quota value is saved
  block_grace=$("${quotatool}" -v -n -u -b -t 10 {{ quota_dir | quote }} 2>&1 | tail -n1 | awk '{ print $4 }')
  inode_grace=$("${quotatool}" -v -n -u -i -t 10 {{ quota_dir | quote }} 2>&1 | tail -n1 | awk '{ print $4 }')
  jo state=present block_grace="${block_grace}" inode_grace="${inode_grace}"
else
  jo state=absent
fi
