#!/usr/bin/env bash

# {{ ansible_managed }}

set -euo pipefail

jc=(type -P jc || echo "absent")
jo=$(type -P jo || echo "absent")
quota=$(type -P quota || echo "absent")
repquota=(type -P repquota || echo "absent")

if [[ "${quota}" != "absent" ]]; then
  quotacheck=$("${quota}" -f "{{ quota_dir }}" > /dev/null && echo "pass" || echo "fail")
  if [[ "${jc}" != "absent" && "${repquota}" != "absent" && "${quotacheck}" == "pass" ]]; then
    "${repquota}" "{{ quota_dir }}" -O csv | "${jc}" -m --csv 
  else
    if [[ "${jo}" != "absent" ]]; then
      "${jo}" state=absent
    else
      echo '{"state":"absent"}'
    fi
  fi
else
  if [[ "${jo}" != "absent" ]]; then
    "${jo}" state=absent
  else
    echo '{"state":"absent"}'
  fi
fi
