#!/usr/bin/env bash

# {{ ansible_managed }}

set -euo pipefail

jc=$(type -P jc || echo "absent")
jo=$(type -P jo || echo "absent")
tune2fs=$(type -P tune2fs || echo "absent")

if [[ "${tune2fs}" != "absent" && "${jc}" != "absent" ]]; then
  "${tune2fs}" -l {{ quota_device }} | tail -n +2 | "${jc}" -m --kv
else
  if [[ "${jo}" != "absent" ]]; then
    "${jo}" state=absent
  else
    echo '{"state":"absent"}'
  fi
fi

# vim: syntax=bash
