#!/usr/bin/env bash

# {{ ansible_managed }}

set -euo pipefail

jc="{{ quota_jc }}"
tune2fs="{{ quota_tune2fs }}"

if [[ -f "${tune2fs}" && -f "${jc}" ]]; then
  ${tune2fs} -l /dev/xvda4 | tail -n +2 | ${jc} --kv
else
  jo state=absent
fi
